<?xml version="1.0"?>
<!--
Web.config file for MVCWebTest.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="Custom" customProvider="NRedisSessionProvider" timeout="120">
      <providers>
        <clear />
        <add name="NRedisSessionProvider" type="NRedisProvider.NRedisSessionProvider,NRedisSessionProvider" host="localhost:6379" pooled="True" prefix="_ses" />
      </providers>
    </sessionState>
  </system.web>
</configuration>